<div id="clientsDb">
    @( Html.Kendo().Grid<CoffeeV2.Models.Stock>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Date).Title("Дата");
            columns.Bound(c => c.ItemName).Title("Назва");
            columns.Bound(c => c.Quantity).Title("Кількість");
        })
        .HtmlAttributes(new { style = "height: 300px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("StockRead", "Stock"))
        )
    )
</div>

<style>
    #clientsDb {
        width: 1250px;
        height: 396px;
        margin: 20px auto 0;
        padding: 51px 4px 0 4px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
</style>
