
<div id="stockDb">
    @( Html.Kendo().Grid<CoffeeV2.Models.Stock>()
        .Name("StockGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Datetime).Title("Дата").Format("{0:dd-MM-yyyy}");
            columns.Bound(c => c.Name).Title("Назва");
            columns.Bound(c => c.Quantity).Title("Кількість");
        })
        .HtmlAttributes(new { style = "height: 500px;" })
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("StockRead", "Stock"))
        )
    )
</div>

<style>
    #stockDb {
        width: 1200px;
        height: 500px;
        margin: 20px auto 0;
        padding: 51px 4px 0 4px;
    }
</style>

