
<div id="spendingsDb">
    @( Html.Kendo().Grid<CoffeeService.Models.Spendings>()
                .Name("SpendingsGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Datetime).Title("Дата").Format("{0:dd-MM-yyyy}");
            columns.Bound(c => c.Name).Title("Назва");
            columns.Bound(c => c.Quantity).Title("Кількість");
            columns.Bound(c => c.Price).Title("Ціна");
        })
                   .HtmlAttributes(new { style = "height: 500px;" })
            .Editable(editable => editable.Mode(GridEditMode.InCell))
            .Pageable()
            .Scrollable()
            .DataSource(dataSource => dataSource
            .Ajax()
            .Batch(true)
            .PageSize(20)
            .ServerOperation(false)
            .Events(events => events.Error("error_handler"))
            .Model(model => model.Id(p => p.ID))
                    .Read(read => read.Action("SpendingsRead", "Spendings"))
                                    .Create("SpendingsCreate", "Spendings")
                                    .Update("SpendingsUpdate", "Spendings")
                                    .Destroy("SpendingsDestroy", "Spendings")
        )
    )
  
</div>

<style>
    #spendingsDb {
        width: 1200px;
        height: 500px;
        margin: 20px auto 0;
        padding: 51px 4px 0 4px;
        background-color:  #A0D190;
       
    }
</style>

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>