
<div id="cashDb">
    @( Html.Kendo().Grid<CoffeeV2.Models.Cash>()
        .Name("CashGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Datetime).Title("Дата").Format("{0:dd-MM-yyyy}");
            columns.Bound(c => c.Costs).Title("Витрати");
            columns.Bound(c => c.Income).Title("Готівка");
            columns.Bound(c => c.Cashless).Title("Безготівка");
            columns.Bound(c => c.Result).Title("Залишок");
        })
        .HtmlAttributes(new { style = "height: 1200px;" })
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("CashRead", "Cash"))
        )
    )
</div>

<style>
    #cashDb {
        width: 1200px;
        height: 1200px;
        margin: 20px auto 0;
        padding: 51px 4px 0 4px;
    }
</style>
